<h1>Inventario de Libros</h1>
<% if current_user %>
  <h3>Hola, <%= current_user.name %> | <%= link_to 'Logout', logout_path %></h3>
<% else %>
  <%= link_to 'Login', login_path %><br>
<% end %>

<h3>Opciones:</h3>
<ul>
  <li><%= link_to 'Inventario', controller: 'books' %></li>
</ul>
