<% if current_user %>
    <h1>Hola, <%= current_user.name %>!</h1>
<% else %>
  <%= link_to 'Login', login_path %><br>
<% end %>

<h4>
<%= link_to 'Inventario', controller: 'books' %> · <%= link_to 'Logout', logout_path %>
</h4>
