<ul class="list-group">
  <li class="list-group-item list-group-item-success">Libros Leídos: <%= Book.where('`read` = ?', true).count %></li>
  <li class="list-group-item list-group-item-danger">Libros No Leídos: <%= Book.where('`read` != ?', true).count %></li>
  <li class="list-group-item list-group-item-warning">Libros Prestados: <%= Book.where('`borrowed` != ?', false).count %></li>
  <li class="list-group-item list-group-item-info">Total de Libros: <%= Book.count %></li>
</ul>
