<%= render 'books/header' %>

<h1>Tags</h1>

<% @tags.order('name ASC').each do |t| %>
    <ul>
        <li><%= render t %>(<%= @tags.where('`id` = ?', t).map(&:taggings_count).join('') %>)</li>
    </ul>
<% end %>
